/* RESET DE CONFIGURAÇÕES GERAIS PARA O NAVEGADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    background-image: url("assets/BACKGROUND03.webp");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: rgba(239, 240, 243, 0.842);
    font-size: 50px;
    text-align: center;
    margin: 30px 0 20px 0;
}

p {

    text-align: justify;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 10px 0px 10px;
}

h2 {
    color: rgb(203, 206, 223);
    font-size: 30px;
    text-align: left;
    margin: 30px 0 20px 10px;
}